*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0;
  padding: 0;
}
.appComponent{
  width: 550px;
  height: 550px;
  margin: 0 auto;
  background-color: rgb(108, 108, 108);
}

.headerComponent{
  padding: 0 37px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.headerComponent div{
  display: flex;
  flex-direction: row;
  align-items: center
}
.headerComponent img{
  width: 31.31px;
  height: 26.22px;
}

.headerComponent h1{
  padding-left: 6px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}
.headerComponent h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

.memeComponent__input-container{
  display: flex;
  justify-content: space-between;
  padding: 36px 36px 0 36px;
}
.memeComponent__input-container input{
  padding-left: 5px;
  display: block;
  width: 230px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}

.memeComponent button{
  display: flex;
  margin: 15px auto;
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 30%;
  padding-right: 30%;
  white-space: nowrap;
  cursor: pointer;
}
.meme-image_container{
  width: 550px;
  height: 268px;
 display: flex;
 justify-content: center
}
.meme-image_container img{

  /* margin-left: auto;
  margin-right: auto;
  width: 50%;  */
  max-width: 100%;
}